.bnx-training {
    position: relative;



    h3 {
        margin-top: 20px;
    }

    .bnx-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .box1 {
            width: 170px;
            height: 204px;
            top: 565px;
            left: 279px;
            padding-top: 120px;

            .logo-image {
                display: flex;
                justify-content: space-between;
            }

            .line {
                width: 60px;
                top: 589px;
                left: 159px;
                border: 2px;
                align-items: right;


            }

            .logo {
                height: 30px;
                width: 100%;
                margin: 0;
                padding: 0;
                border: 0;
               
            }
            



            .bnx-content {
                padding-top: 400px;
            }

            .bnx-content {
                padding-top: 20px;
            }

           

            h4 {
                margin-top: 10px;
            }

            p {
                margin-top: 5px;
            }
        }

        .box2 {
            width: 198px;
            height: 341px;
            top: 453px;
            left: 1185px;
            


            img {
                width: 100%;
                height: auto;
            }
        }
    }
}