.container {
    display: flex;
    padding-left: 10%;
    background-color: rgb(35, 20, 77);
    color: white;
   padding-top: 120px;
   padding-bottom: 70px;
   position: relative;
   
   @include mobile{width: 100%;  
    display: flex;
    flex-direction: column;
    overflow: auto;
height: max-content;
width: 90%;
    }

    ul {
        list-style-type: none;

        li {
            a {
                text-decoration: none; // Make the link underline invisible
                color: white; // Set the link color to white
                font-size: small;
            }
        }
    }
   
}

.partners {
    display: flex;

    .part-right {
        padding-top: 40px;
    }
   
}

.services {
    display: flex;
    @include mobile{width: 100%;  
        display: flex;
        flex-direction: column;
        overflow: auto;
        
        }
    .column-right {
        padding-top: 40px;
        
        li {
            a {
                text-decoration: none; // Make the link underline invisible
                color:white; // Set the link color to a different color if needed
                font-size: small;
            }
        }
       
    }
}
.services{
    border-left: 2px solid rgb(152, 152, 152);
    height: 200px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 5px;
    
    @include mobile{
        border: none;
        padding-left: 0%;
    }
}
.business-intelligence{
    border-left: 2px solid rgb(152, 152, 152);
    height: 200px;
    margin-left: 1px;
    h2{
        padding-left: 20px;
    }
    @include mobile{
        border: none;
    }
}
.partners{
    border-left: 2px solid rgb(152, 152, 152);
    height: 200px;
    margin-left: 10px;
    @include mobile{width: 100%;     
        display: flex;
        flex-direction: column;
     height: max-content;
    border: none;
        }
}
.merge{
    display: flex;
    flex-direction: column;
}
